.action-bar-container {
  display: flex; 
  margin: 0;
  width: 100%;
  height: auto;
  @include media-breakpoint-up(md) { 
    left: unset;
    height: 100%;
    width: auto;
    display: flex;
  }
}

.action-bar {
  overflow-x: auto;
  width: 100%;
  @include media-breakpoint-up(md) {
    position: relative !important;
  }
}