.action-bar-container {
  display: flex; 
  margin: 0;
  width: 100%;
  height: auto;
  @include media-breakpoint-up(md) { 
    left: unset;
    height: 100%;
    width: auto;
    display: flex;
    box-shadow: inset 1px 0 0 0  $gray-200;
  }
}

.action-bar {
  overflow-x: auto;
  width: 100%;
  box-shadow: inset 0 1px 0 0 $gray-200;
  @include media-breakpoint-up(md) {
    position: relative !important;
    box-shadow: inset 1px 0 0 0 $gray-200;
    border-top: none;
  }

  .nav-pills {
    .nav-link {
      border-radius: 0;
    }
  }

  .nav {
    .nav-link {
      height: auto;
      background: #fff;
      box-shadow: inset 0 1px 0 0 $gray-200;
      @include media-breakpoint-up(md) {
        box-shadow: inset 1px 0 0 0 $gray-200;
      }

      &.active {
        background: $gray-100;
        box-shadow: inset 0 2px 0 0 $janus-color-primary;
        @include media-breakpoint-up(md) {
          box-shadow: inset 2px 0 0 0 $janus-color-primary;
        }

        svg {
          color: $janus-color-primary;
        }
      }

      &:focus,
      &:hover {
        cursor: pointer;
        background: $gray-100;

        svg {
          color: $gray-800;
        }
      }

      &:focus-visible {
        outline: none;
      }

      svg {
        color: $gray-600;
      }
    }
  }
}