.case-type-container {
  .case-type-list {
    .case-type-item {
      background: $white;
      @include media-breakpoint-up(sm) {
        &:hover,
        &:focus {
          background: $gray-200;

          .case-type-item-drag-handle {
            display: block;
          }
        }
      }
      .case-type-item-drag-handle {
        display: block;
        @include media-breakpoint-up(sm) {
          display: none;
        }
      }
      .case-type-body {
        .case-top {
          .case-title {
            font-size: 1.125em;
          }
          .case-actions {
            background-color: $gray-300; 
          }
        }

        &:hover,
        &:focus {
          .case-top {
            .case-actions { 
              display: flex !important; 
            }
          }
        }
      }
    }
  }
}