.case-type-container {
  .case-type-list {
    li {
      .case-type-card {
        .case-top {
          .case-title {
            font-size: 1.125em;
          }
          .case-actions {
            background-color: $gray-300; 
          }
        }

        &:hover,
        &:focus {
          .case-top {
            .case-actions { 
              display: flex !important; 
            }
          }
        }
      }
    }
  }
}