.draggable-column-container {
  width: 300px;

  .draggable-column-header {
    &:hover {
      .move-controls {
        background: linear-gradient(to right, transparent, rgb(246,246,246) 45%);
        -webkit-text-fill-color: transparent;
        background-position-x: right;
        padding-left: 50px;

        button {
          opacity: 1;
        }
      }
    }

    .draggable-column-header-title {
      &:focus-within {
        .move-controls {
          background: linear-gradient(to right, transparent, rgb(246,246,246) 45%);
          -webkit-text-fill-color: transparent;
          background-position-x: right;
          padding-left: 50px;

          button {
            opacity: 1;
          }
        }
      }
    }

    svg {
      color: $gray-500;
    }

    .title {
      line-height: 14px;
      max-width: 208px;
    }

    .move-controls {

      button {
        opacity: 0;

        &:hover {
          opacity: 1;
        }

        &:focus,
        &:focus:not(:focus-visible) {
          opacity: 1;
          outline: auto;
          background: #f6f6f6;
        }
      } 
    }
  }
}