// ======================================================================================
// BEGIN JANUS DESIGN TOKENS IMPLEMENTATION

// Import variables from Janus design tokens
@import "../node_modules/@symplicity/janus-tokens/dist/index.scss";

// Map Janus design tokens to bootstrap variables
$white: $janus-color-white !default;
$gray-100: $janus-color-gray-100 !default;
$gray-200: $janus-color-gray-200 !default;
$gray-300: $janus-color-gray-300 !default;
$gray-400: $janus-color-gray-400 !default;
$gray-500: $janus-color-gray-500 !default;
$gray-600: $janus-color-gray-600 !default;
$gray-700: $janus-color-gray-700 !default;
$gray-800: $janus-color-gray-800 !default;
$gray-900: $janus-color-gray-900 !default;
$black: $janus-color-black !default;

$blue:    $janus-color-primary !default;
$indigo:  #6610f2 !default;         // NEEDS REVIEW
$purple:  #6f42c1 !default;         // NEEDS REVIEW
$pink:    #e83e8c !default;         // NEEDS REVIEW
$red:     $janus-color-danger !default;
$orange:  #fd7e14 !default;         // NEEDS REVIEW
$yellow:  $janus-color-warning !default;
$green:   $janus-color-success !default;
$teal:    #20c997 !default;         // NEEDS REVIEW
$cyan:    $janus-color-info !default;

$primary:       $blue !default;
$secondary:     $janus-color-secondary !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$alert-bg-level:              -11 !default;
$alert-border-level:          -9 !default;
$alert-color-level:           0 !default;
$alert-border-width:          0 !default;

$btn-border-radius-lg:        $janus-border-radius-lg !default;
$btn-border-radius-sm:        $janus-border-radius-sm !default;

$font-family-sans-serif:      $janus-font-stack-base !default;
$font-family-monospace:       $janus-font-stack-monospace !default;

$font-size-base:              $janus-font-size-base !default;
$btn-font-size-lg:            $janus-font-size-base !default;

$line-height-base:            $janus-line-height-base !default;
$headings-line-height:        $janus-headings-line-height-base !default;

$h1-font-size:                $janus-font-size-base * 2 !default;
$h2-font-size:                $janus-font-size-base * 1.75 !default;
$h3-font-size:                $janus-font-size-base * 1.25 !default;
$h4-font-size:                $janus-font-size-base !default;
$h5-font-size:                $janus-font-size-base * .875 !default;
$h6-font-size:                $janus-font-size-base * .8125 !default;
// $h7-font-size:                $janus-font-size-base * 0.75 !default;

$border-radius:               $janus-border-radius !default;
$border-radius-sm:            $janus-border-radius-sm !default;
$border-radius-lg:            $janus-border-radius-lg !default;

$input-btn-padding-y:         $janus-input-btn-padding-y !default;
$input-btn-padding-x:         $janus-input-btn-padding-x !default;
$input-btn-padding-y-sm:      $janus-input-btn-padding-y-sm !default;
$input-btn-padding-x-sm:      $janus-input-btn-padding-x-sm !default;
$input-btn-padding-y-lg:      $janus-input-btn-padding-y-lg !default;
$input-btn-padding-x-lg:      $janus-input-btn-padding-x-lg !default;

$border-width:                1px !default;
$input-btn-border-width:      $border-width !default;
$btn-border-width:            $input-btn-border-width * 2 !default;

$badge-padding-x:             $janus-badge-padding-x !default;
$badge-padding-y:             $janus-badge-padding-y !default;
$badge-border-radius:         $janus-border-radius-sm !default;

$alert-padding-x:             $janus-alert-padding-x !default;
$alert-padding-y:             $janus-alert-padding-y !default;

$close-font-size:             $janus-font-size-base !default;
$close-line-height:           $janus-icon-lg-line-height !default;
$close-text-shadow:           none !default;

$dropdown-item-padding-y:     $janus-dropdown-item-padding-y !default;
$dropdown-item-padding-x:     $janus-dropdown-item-padding-x !default;

$dropdown-spacer:             $janus-dropdown-spacer !default;

$modal-title-line-height:      $janus-modal-title-line-height !default;
