.profile-header {
  .profile-header-logo {
    .avatar {
      margin-bottom: 40px;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }

  .profile-header-primary-actions {
    .btn-toolbar {
      @include media-breakpoint-up(md) {
        justify-content: flex-end;
      }
    }
  }
}
