.stage-container {
  width: 300px;

  .stage-header {
    svg {
      color: $gray-500;
    }

    .title {
      line-height: 14px;
    }

    .move-controls {
      
      button {
        opacity: 0;

        &:hover,
        &:focus,
        &:not(:focus-visible) {
          opacity: 1;
          outline: auto;
        }
      } 
    }
  }
}