.steps {

  li {
    button {
      position: relative;
      z-index: 2;
    }
    button:after {
      height: 1px;
      z-index: 1;
      top: 31px;
      right: 0;
      width: 100%;
      position: absolute;
      background: red;
      content: '';
    }
    &.first {
      button:after {
        right: 0;
        width: 50%;
      }
    }
    &.last {
      button: after {
        left: 0;
        width: 50%;
      }
    }
  }

  li {
    margin-right: 1rem;

    @include media-breakpoint-up(md) {
      margin-right: 2.75rem;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.disabled {
      button {
        .rounded-circle {
          background: $gray-300;
          color: $gray-700;
        }
      }
    }
  }

  button {
    .text-nowrap {
      font-size: $small-font-size;
    }

    &:focus {
      box-shadow: 0 0 0 3px $janus-color-primary;
    }
  }

  .step-number {
    position: relative;
    top: -1px;

    span {
      line-height: $janus-icon-lg-line-height;
    }
  }

  .step-icon {
    svg {
      position: relative;
      top: -1px;
    }
  }

}