.steps {
  &.four-steps {
      &::before {
      content: '';
      position: absolute;
      width: 370px;
      height: 1px;
      background: $gray-300;
      top: 29px;
      left: 89px;
    }
  }

  button {
    .text-nowrap {
      font-size: $small-font-size;
    }
  }
}