.steps {  
    &::before {
    content: '';
    position: absolute;
    height: 1px;
    background: $gray-300;
    top: 29px;
    transform: translate(11px, 0);

    &.four-steps {
      &::before {
        width: 367px;
      }
    }

    &.six-steps {
      &::before {
        width: 665px;
      }
    }

    @include media-breakpoint-up(md) {
      width: 463px;
      top: 32px;
      transform: translate(14px, 0);
    }
  }

  li {
    margin-right: 1rem;

    @include media-breakpoint-up(md) {
      margin-right: 2.75rem;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.disabled {
      button {
        .rounded-circle {
          background: $gray-300;
          color: $gray-700;
        }
      }
    }
  }

  button {
    .text-nowrap {
      font-size: $small-font-size;
    }

    &:focus {
      box-shadow: 0 0 0 3px $janus-color-primary;
    }
  }

  .step-number {
    position: relative;
    top: -1px;

    span {
      line-height: $janus-icon-lg-line-height;
    }
  }

  .step-icon {
    svg {
      position: relative;
      top: -1px;
    }
  }

}