.steps {

  li {
    div {
      position: relative;
      z-index: 2;
    }
    div:after {
      height: 1px;
      z-index: 1;
      top: 28px;
      @include media-breakpoint-up(md) {
        top: 32px;
      }
      right: 0;
      width: 100%;
      position: absolute;
      background: $gray-300;
      content: '';
    }
    &.first {
      div:after {
        right: 0;
        width: 50%;
      }
    }
    &.last {
      div:after {
        left: 0;
        width: 50%;
      }
    }
  }

  li {

    &:last-of-type {
      margin-right: 0;
    }

    &.disabled {
      div {
        .rounded-circle {
          background: $gray-300;
          color: $gray-700;
        }
      }
    }
  }

  div {
    .text-nowrap {
      font-size: $small-font-size;
    }
  }

  .step-number,
  .step-icon {
    z-index: 2;
  }

  .step-number {
    top: -1px;
    justify-content: center;

    span {
      line-height: $janus-icon-lg-line-height;
    }
  }

  .step-icon {
    justify-content: center;
    align-items: center;

    svg {
      position: relative;
      top: -1px;
    }
  }

  &.steps-vertical {
    li {
      div:after {
        transform: rotate(90deg);
        transform-origin: center;
      }
      &.first {
        div:after {
          transform: rotate(90deg);
          transform-origin: left;
        }
      }
      &.last {
        div:after {
          transform: rotate(90deg);
          transform-origin: right;
        }
      }
    }
  }
}