.steps {
  &.four-steps {
      &::before {
      content: '';
      position: absolute;
      width: 469px;
      height: 1px;
      background: $gray-300;
      top: 29px;
      left: 89px;
    }
  }

  li {
    margin-right: 2.75rem;

    &:last-of-type {
      margin-right: 0;
    }

    &.disabled {
      button {
        .rounded-circle {
          background: $gray-300;
          color: $gray-700;
        }
      }
    }
  }

  button {
    .text-nowrap {
      font-size: $small-font-size;
    }
  }
}