@mixin caret-down {

}

@mixin caret-up {
  top: -1px;
  transform: rotateZ(180deg);
}

@mixin caret-right {
  top: -1px;
  transform: rotateZ(-90deg);
}

@mixin caret-left {
  top: -1px;
  transform: rotateZ(90deg);
}

@mixin caret($direction: down) {
  @if $enable-caret {
    &::after {
      margin-left: $caret-spacing;
      vertical-align: $caret-vertical-align;
      content: url("/docs/5.0/assets/img/chevron_down_light.svg");
      border: none !important;
      position: absolute !important;
      width: 1em;
      height: 1em;
      @if $direction == down {
        @include caret-down();
      } @else if $direction == up {
        @include caret-up();
      } @else if $direction == right {
        @include caret-right();
      }
    }

    @if $direction == left {
      &::after {
        display: none;
      }

      &::before {
        display: inline-block;
        margin-right: $caret-spacing;
        vertical-align: $caret-vertical-align;
        content: "";
        @include caret-left();
      }
    }

    &:empty::after {
      margin-left: 0;
    }
  }
}
