/* Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp */

@mixin line-clamp($lines: 2) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
}