html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

[dir] body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    visibility: hidden;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  [dir] .offcanvas-collapse {
    background-color: #343a40;
  }
  [dir=ltr] .offcanvas-collapse {
    left: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  [dir=rtl] .offcanvas-collapse {
    right: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .offcanvas-collapse.open {
    visibility: visible;
  }
  [dir=ltr] .offcanvas-collapse.open {
    transform: translateX(-100%);
  }
  [dir=rtl] .offcanvas-collapse.open {
    transform: translateX(100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

[dir] .nav-scroller .nav {
  padding-bottom: 1rem;
  margin-top: -1px;
  text-align: center;
}

.nav-underline .nav-link {
  font-size: .875rem;
  color: #6c757d;
}

[dir] .nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

[dir] .bg-purple { background-color: #6f42c1; }
