@each $color, $value in $theme-colors {
  .link-#{$color} {
    color: $value;

    &:hover {
      text-decoration: underline;
    }

    @if $link-shade-percentage != 0 {
      &:focus {
        background-color: $value;
        text-decoration: none;
        outline: 4px solid $value;
        outline-offset: 0;
        color: if(color-contrast($value) == $color-contrast-light, #fff, #333);
      }
    }
  }
}
