.icon-lg-font-size {
  font-size: $janus-icon-lg-font-size;
  line-height: $janus-icon-lg-line-height;
}

.icon-xl-font-size {
  font-size: $janus-icon-xl-font-size;
}

.text-shadow-none {
  text-shadow: none;
}
